@import "tailwindcss";
@source '../main.ts';
@source '../../templates/**/*.html';
/*安全列表*/
@source './safelist.txt';
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";
@plugin "daisyui";


